* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:floralwhite;
}

header {
    margin-bottom: 20px;
}

/* Mengatur margin untuk elemen section tentang-saya */
#tentang-saya {
    margin-bottom: 20px;
}

/* Mengatur margin dan padding untuk elemen <p> dalam section tentang-saya */
#tentang-saya p {
    margin: 5px 0;
    padding: 0;
}

/* Mengatur margin untuk elemen <h3> dalam div program-studi-utdi */
.program-studi-utdi h3 {
    margin-top: 10px;
}

/* Mengatur margin dan padding untuk elemen <ul> dalam div program-studi-utdi */
.program-studi-utdi ul {
    margin: 5px 0;
    padding: 0;
    list-style: none;
}

/* Atur font untuk semua elemen teks dalam konten */
h2, h3, a {
    font-weight: bold; /* Mengatur font menjadi tebal */
    font-size: 18px; /* Sesuaikan ukuran font sesuai preferensi Anda */
}

#keterangan-universitas {
    text-align: center; /* Pusatkan keterangan */
    margin-top: 10px; /* Atur jarak antara gambar dan keterangan */
}

#keterangan-universitas h3 {
    font-size: 18px; /* Atur ukuran font judul */
    margin-bottom: 5px; /* Atur jarak antara judul dan paragraf */
}

#keterangan-universitas p {
    font-size: 16px; /* Atur ukuran font paragraf */
    margin: 5px 0; /* Atur jarak antara paragraf */
}

header {
    background-color: lightblue;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#kegiatan-saya h3 {
    margin-top: 20px;
}

#kegiatan-saya {
    padding: 20px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: black;
}

section {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 10px;
    background-color:lightblue;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    #kegiatan-saya img {
      max-width: 80%; /* Sesuaikan dengan lebar yang kita  inginkan */
      height: auto;
    }
  }
  

/* CSS untuk video */
#video {
    display: flex;
    flex-direction: column; /* Menyusun elemen dalam satu kolom */
    align-items: center; /* Membuat elemen di tengah vertikal */
    text-align: center;
}

#video h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.video-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto !important;
    margin-bottom: 0;
}


.video-container video {
    width: 100%; /* Lebar video mengisi container */
    height: auto; /* Tinggi otomatis sesuai aspek rasio video */
    display: block; /* Menghapus jarak ekstra dari elemen inline */
}
